name: gpu-tests

on: [push, pull_request]

jobs:
  gpu-tests:
    name: "Python 3.10"
    runs-on: 4-core-ubuntu-gpu-t4
    steps:
        - uses: actions/checkout@v4
        - name: Set up and update uv.
          run: |
            curl -LsSf https://astral.sh/uv/install.sh | sh
            source $HOME/.cargo/env
            uv self update
        - name: Install Python.
          run: uv python install 3.10
        - name: Create venv and install the package.
          run: |
            uv venv && source .venv/bin/activate
            uv pip install -e ".[dev]"
        - name: Check Triton installation.
          run: |
            source .venv/bin/activate
            python3 -c "import triton; print(triton.__version__)"
        - name: Run tests.
          run: |
            source .venv/bin/activate
            make test-gpu
